@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer components {
  .churn-ring {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  .customer-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .customer-card:focus-within .customer-details {
    max-height: 500px;
  }
  
  .customer-card:focus-within {
    @apply ring-2 ring-primary border-transparent shadow-xl;
  }
  
  .customer-card:focus-within .expand-indicator {
    @apply rotate-180;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
